<!DOCTYPE html>
<html lang="en">
<head>
    {%load plotly_dash%}
    {% plotly_header %}
    {% block title %}<title>Bitacora</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <script src="https://kit.fontawesome.com/42078eb279.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
    <a class="cambio" href="{% url 'form' %}" ><i class="fa-solid fa-rectangle-list fa-xl"></i></a>
        {% block content %}
        
        {% endblock %}
</body>
{% plotly_footer %}
</html>