
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #2F2E2E;
}

.row{

    justify-content: center;
    margin: 0;
    padding: 2rem;
}

.logo{
    padding: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: #2F2E2E;
    margin: 0;
    padding: 0;

}


.fondo{
    padding: 1rem;
    background: #2F2E2E;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tabla{
    justify-content: center;
    

}

.tabla_ejecucion{
    justify-content: center;
    margin: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    display: none;
}

.cambio{
    position: absolute;
    left: 80px;
    top:60px;
    height: 100px;
    width: auto;
    color: white;
    text-decoration: none;
}


.switch-container{
    position: absolute;
    right: 80px;
    top:60px;
}

.switch{
    text-align: center;
}

.form-check-label{
    margin: 0;
    color: white;
    font-size: medium;
    font-weight: bold;
}


