* {
  margin: 0;
  padding: 0;
  font-family:'Raleway-Medium', sans-serif;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('/static/fonts/Raleway-Medium.ttf') format('truetype');

}


body {
  background: #0C0C15;
  font-family: 'Raleway-Medium.', sans-serif;
}

.row {
  justify-content: center;
  margin: 0;
  padding: 2rem;
}

.logo {
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  background-color: #0C0C15;
  margin: 0;
  padding: 0;
}

.fondo {
  padding: 1rem;
  background: #0C0C15;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tabla {
  justify-content: center;
}

.tabla_ejecucion {
  justify-content: center;
  margin: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  display: none;
}

.cambio {
  position: absolute;
  left: 80px;
  top: 60px;
  height: 100px;
  width: auto;
  color: white;
  text-decoration: none;
}

.switch-container {
  position: absolute;
  right: 80px;
  top: 60px;
}

.switch {
  text-align: center;
}

.form-check-label {
  margin: 0;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.rentabilidad-texto {
  font-size: 20px;
  margin-left: 48px;
  color: white
  }